body {
  font-family: 'Ubuntu Condensed', sans-serif;
  overflow: hidden;
  margin: 0;
}

h1 {
  position: absolute;
}

input {
  font-size: 101%;
  width: 80%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
  border: 2px solid darkgray;
  border-radius: 5px;
}
input:focus {
  border: 2px solid #2196f3;
}

legend {
  font-size: 125%;
  text-align: left;
  margin-left: 10%;
}

label {
  font-size: 125%;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 120%;
  letter-spacing: 0.1em;
  border-radius: 7px;
  background-color: #f4de51;
}

.buttonHover {
  transition: all linear 0.2s;
}
.buttonHover:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px 0 #f4de51,
              0 1px 3px 1px #f4de51;
}

.buttonWrapper {
  width: 100vw;
  height: 7vh;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 70vh;
}
form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0;
  position: fixed;
  z-index: -1;
}

div {
  width: 25vw;
  height: 35vh;
}
.center {
  text-align: center;
}
#name {

}

#email {
  display: none;
}

#phone {
  display: none;
}

#birthday {
  display: none;
}

#gender {
  display: none;
}

#textToShow {
  display: none;
}

#passwordField {
  display: none;
}

#checkboxes {
  display: none;
}

#submit {
  cursor: not-allowed;
}

#previousBtn {
  cursor: not-allowed;
  opacity: 0.5;
}

#output {
  position: absolute;
  bottom: 0;
}
